# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/output
/projects/vs2015/.vs/LuboSystem/v14
/projects/vs2015/LuboSystem.VC.db
/projects/vs2015/LuboSystem.VC.VC.opendb
/projects/vs2015/LuboSystem/Debug
/projects/vs2015/LuboSystem/Release
*.sdf
*.opensdf
